.add_new_product {
  background-color: rgb(208, 203, 203);
  width: max-content;
  padding: 15px 20px;
  border-radius: 3px;
}
#input_add {
  height: 30px;
  width: 250px;
  border-radius: 3px;
  border: none;
}
.btn-add {
  height: 30px;
  width: 50px;
  border-radius: 3px;
  border: none;
  background-color: green;
  color: white;
}
tbody button {
  background-color: green;
  color: white;
}

table tr,
th {
  border: 1px solid black;
}
th,
td {
  padding: 15px 20px;
  background-color: rgb(251, 198, 198);
}
