* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}
.top-head {
  color: white;
  padding: 5px 10px;
  background-color: rgb(223, 148, 121);
  align-items: center;
}
.top-left-bar {
  display: inline-block;
}
.top-left-bar i {
  margin: 0 10px;
}
.top-right-bar {
  float: right;
  display: inline-block;
  margin: 0 10px;
}
.top-right-bar i {
  margin: 0 5px;
}
.bot-head {
  width: 100%;
  height: 60px;

  align-items: center;
}
.bot-head img {
  height: 40px;
  width: 100px;
  margin: 10px 0 10px 10px;
}
.nav-right {
  float: right;
  margin-top: 20px;
}
.nav-right li {
  display: inline-block;
  margin: 0 20px;
}
main {
  position: relative;
}
.main img {
  width: 100%;
  height: 100%;
}
.content {
  width: 350px;
  height: 300px;

  position: absolute;
  top: 30%;
  left: 10%;
  color: rgb(176, 56, 13);
}
button {
  border: 1px solid orangered;
  border-radius: 5px;
  width: 200px;
  height: 45px;
  background-color: rgb(222, 93, 46);
  margin-top: 20px;
}
